body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filtro {
  margin-bottom: 20px;
}

#busca {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

#buscar {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#idioma {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

#livros {
  margin-top: 20px;
}

#lista-livros {
  list-style: none;
  padding: 0;
  margin: 0;
}

#lista-livros li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#lista-livros li:hover {
  background-color: #f0f0f0;
}
